 .topContainer{
   background-color: #E8F6EF;
   padding-top: 90px;
 }

 .middle-container{
   margin: 100px 0;
 }

 .bottom-container{
 background-color: #66BFBF ;

 padding: 40px 0 20px ;
 }

 .top-cloud{
   position: relative;
   left: 340px;


 }

 .bottom-cloud{
   position: absolute;
   left: 310px;
 }



 body{
   color: #40514E;
   margin: 0;
   text-align: center;


 }
 span{
   text-decoration: underline;
 }

 h1 {
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 6rem;
   color: #66BFBF;


 }

 h2{
   font-size:2.2rem;
   font-family: 'Montserrat', sans-serif;
   color: #66BFBF;
   font-weight: bold;
   padding-bottom: 10px;

 }

 h3{

   font-family: 'Montserrat', sans-serif;
   color: #11999E;

 }

 p{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 20px;
   line-height: 2;


 }

 a{
   color: #11999E;
 }

 hr{
   border: dotted gray ;
   border-width: 7px;
   border-style: dotted none none none;
   width: 4%;
   margin: 100px auto;
 }


 .profile{
   width: 30%;
   margin:   auto;
   text-align: center;

 }



.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;


}

.HTML-img{
  width: 25%;
  float: left;
  margin-right:  30px;

}

.CSS-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}



.contact-me{
  width: 40%;
  margin: 80px auto;
  text-align: center;
  line-height: 1.5;


}
.Watermark{
  margin: 20px 0;
  color: #EAF6F6;
  font-size: 0.75rem;

}

.footer-link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px ;
  font-weight: bold;
}

a:hover{
  color: #EAF6F6;
}

.contact-message{
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
